name: Lint (callable)

on:
  workflow_call:
    inputs:
      node-version:
        description: Node.js version
        required: false
        default: 'lts/*'
        type: string
      os:
        description: OS name
        required: false
        default: ubuntu-latest
        type: string

jobs:
  lint:
    name: Lint on Node.js ${{ inputs.node-version }} and ${{ inputs.os }}

    runs-on: ${{ inputs.os }}

    permissions:
      contents: read

    timeout-minutes: 30

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm

      - name: Install latest npm
        run: npm install --global npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint
