name: Release PR (callable)

on:
  workflow_call:
    inputs:
      new-version:
        description: New version to release
        required: false
        type: string
      new-version-command:
        description: Command to determine a new version (priority over `new-version` if specified)
        required: false
        type: string
      node-version:
        description: Node.js version
        required: false
        default: 'lts/*'
        type: string

jobs:
  release-pr:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    timeout-minutes: 10

    # Ensure only one release job runs at a time to avoid conflicts.
    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: true

    defaults:
      run:
        shell: bash

    outputs:
      new-version: ${{ steps.bump-version.outputs.pkg-version }}
      pr-branch: ${{ steps.create-pr.outputs.pr-branch }}
      pr-url: ${{ steps.create-pr.outputs.pr-url }}

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # Commit history may be required, such as changelog generation etc.

      - name: Set up Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Install latest npm
        run: npm install --global npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Bump version in package.json
        id: bump-version
        env:
          NEW_VERSION: ${{ inputs.new-version }}
          NEW_VERSION_COMMAND: ${{ inputs.new-version-command }}
          # Set the environment variables below for `new-version-command` that needs any GitHub token.
          GH_TOKEN: ${{ github.token }}
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          # Set a new version if a command is provided
          if [[ -n "${NEW_VERSION_COMMAND}" ]]; then
            echo "Setting a new version using the command: \`${NEW_VERSION_COMMAND}\`"
            eval "${NEW_VERSION_COMMAND}"
          elif [[ -n "${NEW_VERSION}" ]]; then
            echo "Use the provided new version: ${NEW_VERSION}"
            npm version "${NEW_VERSION}" --no-git-tag-version
          else
            echo "::error::Either \`new-version\` or \`new-version-command\` input is required."
            exit 1
          fi

          # Output the new version and other package info for later steps
          cat <<EOF >> "${GITHUB_OUTPUT}"
          pkg-version=$(jq -r '.version' package.json)
          pkg-name=$(jq -r '.name' package.json)
          pkg-private=$(jq -r 'select(.private == true) | "true"' package.json)
          EOF

      - name: Create pull request
        id: create-pr
        env:
          GH_TOKEN: ${{ github.token }}
          PKG_VERSION: ${{ steps.bump-version.outputs.pkg-version }}
          PKG_NAME: ${{ steps.bump-version.outputs.pkg-name }}
          PKG_PRIVATE: ${{ steps.bump-version.outputs.pkg-private }}
        run: |
          # Configure git
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"

          # Commit and push changes to a new branch
          BRANCH_NAME="release/${PKG_VERSION}"
          COMMIT_MESSAGE="Release ${PKG_VERSION}"
          git checkout -b "${BRANCH_NAME}"
          git commit --all -am "${COMMIT_MESSAGE}"
          git push origin "${BRANCH_NAME}"
          echo "pr-branch=${BRANCH_NAME}" >> "${GITHUB_OUTPUT}"

          # Construct a changes URL
          echo -n "Constructing a changes URL... "
          LATEST_TAG=$(gh release list --limit 1 --json 'tagName' --jq '.[0].tagName')
          if [[ -n "${LATEST_TAG}" ]]; then
            CHANGES_FROM="${LATEST_TAG}"
          else
            CHANGES_FROM='@{1year}'
          fi
          CHANGES_URL="<${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/compare/${CHANGES_FROM}...${BRANCH_NAME}>"
          echo "${CHANGES_URL}"

          # Construct a npm package URL if it is not private
          echo -n "Constructing a npm package URL... "
          if [[ "${PKG_PRIVATE}" != "true" ]]; then
            NPM_PACKAGE_URL="[\`${PKG_NAME}\`](https://www.npmjs.com/package/${PKG_NAME})"
          else
            NPM_PACKAGE_URL="N/A"
          fi
          echo "${NPM_PACKAGE_URL}"

          # Prepare PR body
          PR_BODY_FILE="${RUNNER_TEMP}/pr_body.txt"
          cat <<EOF > "${PR_BODY_FILE}"
          This PR prepares the release of **${PKG_VERSION}**.

          - Changes: ${CHANGES_URL}
          - npm package: ${NPM_PACKAGE_URL}

          Checklist:
          - [ ] Quickly review the changes on the URL above.
          - [ ] The new version is expected.
          - [ ] The CHANGELOG.md is expected. If necessary, update it.
          - [ ] Request a review from the owners team.

          If the PR is approved and all checks have passed, you can merge it. Then, the release job will be automatically started.
          Visit [**Actions**](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions) and watch the job.

          *Generated by the [action run (id=${GITHUB_RUN_ID})](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID})*
          EOF

          # Create PR
          echo "Creating a pull request..."
          gh pr create \
            --head "${BRANCH_NAME}" \
            --title "${COMMIT_MESSAGE}" \
            --body-file "${PR_BODY_FILE}" \
            --assignee "${GITHUB_ACTOR}"

          # Show PR URL
          PR_URL=$(gh pr view --json 'url' --jq '.url')
          echo "::notice::Created pull request for releasing ${PKG_VERSION}: ${PR_URL}"
          echo "pr-url=${PR_URL}" >> "${GITHUB_OUTPUT}"
